<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>叩丁狼客户管理系统</title>
</head>
<body class="hold-transition skin-black sidebar-mini">
    <div th:replace="common/fragment :: link"></div>
    <div class="wrapper">
        <div th:replace="common/fragment :: navbar"></div>
        <div th:replace="common/fragment :: menu"></div>
        <div class="content-wrapper">
            <section class="content">
                <div class="error-page">
                    <h2 class="headline text-red" th:text="${errorMsg}">错误信息</h2>
                    <div class="error-content">
                        <h3><i class="fa fa-warning text-red"></i> 服务器异常 </h3>
                        <p>请返回页面重新操作，若无法解决，请联系管理员处理</p>
                        <p>联系方式 ：020-85628002</p>
                        <p>叩丁狼教育 </p>
                    </div>
                </div>
            </section>
        </div>
        <div th:replace="common/fragment :: footer"></div>
    </div>
</body>
</html>