<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>角色管理</title>
</head>
<body class="hold-transition skin-black sidebar-mini">
    <div th:replace="common/fragment :: link"></div>
    <div class="wrapper">
        <div th:replace="common/fragment :: navbar"></div>
        <div th:replace="common/fragment :: menu"></div>
        <div class="content-wrapper">
            <section class="content-header">
                <h1>角色管理</h1>
            </section>
            <section class="content">
                <div class="box">
                    <!--高级查询--->
                    <div style="margin: 10px;">
                        <!--高级查询--->
                        <form class="form-inline" id="searchForm" action="/role/list" method="post">
                            <input type="hidden" name="currentPage" id="currentPage" value="1">
                            <a href="/role/input" class="btn btn-success btn-input"><span class="glyphicon glyphicon-plus"></span> 添加</a>
                        </form>
                        <div class="box-body table-responsive ">
                            <table class="table table-hover table-bordered table-striped" >
                                <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>角色名称</th>
                                    <th>角色编号</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="role:${pageInfo.list}">
                                        <td th:text="${role.id}">1</td>
                                        <td th:text="${role.name}">部门经理</td>
                                        <td th:text="${role.sn}">MGR</td>
                                        <td>
                                            <a th:href="|/role/input?id=${role.id}|" class="btn btn-info btn-xs btn-input">
                                                <span class="glyphicon glyphicon-pencil"></span> 编辑
                                            </a>
                                            <a th:data-url="|/role/delete?id=${role.id}|" class="btn btn-danger btn-xs btn-delete">
                                                <span class="glyphicon glyphicon-trash"></span> 删除
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div th:replace="common/fragment :: page"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div th:replace="common/fragment :: footer"></div>
    </div>
</body>
</html>