<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>数据字典管理</title>
</head>
<body class="hold-transition skin-black sidebar-mini">
    <div th:replace="common/fragment :: link"></div>
    <div class="wrapper">
        <div th:replace="common/fragment :: navbar"></div>
        <div th:replace="common/fragment :: menu"></div>
        <div class="content-wrapper">
            <section class="content-header">
                <h1>数据字典编辑</h1>
            </section>
            <section class="content">
                <div class="box">
                    <form class="form-horizontal" action="/sysDictType/saveOrUpdate" method="post" id="editForm">
                        <input type="hidden" name="id" th:value="${sysDictType?.id}">
                        <div class="form-group"  style="margin-top: 10px;">
                            <label  class="col-sm-2 control-label">数据字典名称：</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="name" placeholder="请输入数据字典名称" th:value="${sysDictType?.name}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">数据字典类型：</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="type" placeholder="请输入数据字典类型" th:value="${sysDictType?.type}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">数据字典备注：</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="remark" placeholder="请输入数据字典备注" th:value="${sysDictType?.remark}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-6">
                                <button type="submit" class="btn btn-primary btn-submit">保存</button>
                                <a href="javascript:window.history.back()" class="btn btn-danger">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
        <div th:replace="common/fragment :: footer"></div>
    </div>

</body>
</html>